.sharp-form-control {
    display: block;
    width: 100%;
    padding: 5px 10px;
    line-height: 1.5;
    color: #2ba0ff;
    background-color: #fff;
    background-clip: padding-box;
    /*border-bottom: 2px solid #2ba0ff;*/
    border: 2px solid #2ba0ff;
    /*border-top: 0;
    border-left: 0;
    border-right: 0;*/
    color: gray;
    font-size: 14px;
    border-radius: 5px;
}

    .sharp-form-control:focus {
        color: black;
    }

input:focus.sharp-form-control {
    outline: none !important;
    border: 2px solid #10e66d;
    /* font-size: 16px;*/
}

textarea:focus.sharp-form-control {
    outline: none !important;
    border: 2px solid #10e66d;
}

textarea {
    resize: none;
}

.sharp-form-control-label {
    position: relative;
    top: 16px;
    left: 5px;
    font-size: 11px;
    font-weight: bold;
    background-color: white;
    z-index: 999;
    padding: 0 4px 0 4px;
}
